<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @polyndrom.index %>
</p>

<p>
  <strong>Num:</strong>
  <%= @polyndrom.num %>
</p>

<p>
  <strong>Rev:</strong>
  <%= @polyndrom.rev %>
</p>

<p>
  <strong>Theory:</strong>
  <%= @polyndrom.theory %>
</p>

<%= link_to 'Edit', edit_polyndrom_path(@polyndrom) %> |
<%= link_to 'Back', polyndroms_path %>
